<html>
<head>
  <title><%= title %></title>
  <% puts request.inspect %>
<% if @js %>
  <% @js.each do |script| %>
    <script src="/js/<%= script %>"></script>
  <% end %>
<% end %>
</head>
<body>
  <%= yield %>
</body>
</html>
